---
# Overwrite Tachyons here. Don't go overboard!
---

.pt-serif {
  font-family: 'PT Serif', Georgia,
               serif;
                -webkit-font-smoothing: antialiased;
}

.source-sans {
  font-family: 'Source Sans Pro', helvetica,
               sans-serif;
}

.source-code {
  font-family: 'Source Code Pro', monospace;
}

blockquote {
  -webkit-margin-start: 0;
}

.quote__source::before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  right: 100%;
  width: 4rem;
  height: 1px;
  background-color: black;
}

.cf {
  clear: both;
}

.cf-4th {
  &:nth-child(4n) {
    margin-right: 0;
    clear: both;
  }
}

.p-fix {
  &:nth-child(3n) {
    padding-right: 0;
    margin-right: 0;
  }
}

.hero {
  background-image: url('../images/hero-bg.png');
  background-position: 50% bottom;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #0D2772;
}

@media only screen and (max-width: 30em) {
    .hero {
        background-image: url('../images/hero-bg-xs.png');
        background-size: cover;
    }
}

.bg-darky-blue {
  background-color: #0D2772;
}

.blueish {
  background-color: #DFEBFF;
}

.green-underline {
  border-color: #23CF8D;
}