---
layout: default
---

<section class="mw8 ph4 center">
{% include h1.html title="About us" class="tc" %}
{% include quote.html quote="“In order to build anything great, you have to be an optimist, because by definition you are trying to do something that most people would consider impossible. Optimists most certainly do not listen to leading indicators of bad news.”" source="Andy Grove, from “High Output Management”" img="" %}
</section>

{% include linebreak.html %}

<section class="mw9 ph4 center">
    <img src="images/spyglass.svg" alt="Spyglass" class="center db">
    {% include h2.html title="Our Vision" %}
    {% include lead.html description="We imagine a world where a large majority of individuals go home everyday fulfilled by their work, feeling that they have contributed to something larger than themselves." class="tc-ns center" %}

    {% include col2.html data="about-us" %}
</section>

{% include linebreak.html %}

<section class="mw8 ph4 mb5 mb6-ns center">
    <img src="images/heart.svg" alt="Heart" class="center db">
    {% include h2.html title="Our Values" %}

    <p class="f5 f4-ns pt-serif lh-copy black-80 measure center tc">Values for us are more than just words on poster. Our 5 values are deeply embedded in how we recruit, review performance, promote and conduct ourselves on a day to day basis. All team members go through two cycles every year to review how they are faring on each of our values and our provided coaching on how to improve themselves.</p>
</section>

<div class="mw8 ph4 center">
    {% include col2.html data="values" %}
</div>

{% include linebreak.html %}

<section class="mw8 ph4 center">
    <img src="images/globe.svg" alt="Globe" class="center db">
  {% include h2.html title="Remote-first" %}
  <p class="f5 f4-ns pt-serif lh-copy black-80 measure center tc">We are a remote-first team that is spread across the world. We believe distributed teams are the future of work, and we want to inspire other teams to switch to remote-first environments.</p>
</section>

<section class="tc pb4 pb6-l"">
    {% include cta-1.html label="See open positions" url="https://high-output-ventures.breezy.hr" %}
</section>