---
layout: default
---

<section class="mh3 mh5-ns">
{% include h1.html title="Careers" %}
</section>

{% include quote.html quote="“A team will perform well, only if peak performance is elicited from the individuals in it.”" source="Andy Grove, from “High Output Management”" img="" %}

<section class="ma3 ma5-ns">

{% include lead.html description="Our firm's name was inspired by the seminal book “High Output Management” which was written by Andy Grove. We have a very high bar for the people who join our company and the ones we choose to invest in. A team's strength is dependent on how they perform as a collective." %}

{% include h2.html title="What we look for" %}

<p class="f5 f4-ns pt-serif lh-copy black-80 measure">We actively look to hire individuals who excel at being team players. Individuals who do not blame circumstances or come up with "good" excuses as to why they are not performing. Lastly, we are team that has embraced remote work. Everyone has the ability to work from where they want as long as their level of output remains high and they contribute to the overall success of the organization.</p>

<p class="f5 f4-ns pt-serif lh-copy black-80 measure">We work hard and at the same time have a lot of fun together as well. If you are passionate about solving the hard problems through innovative technology, High Output is the place for you. You'll find roles below that we're always hiring for. If you don't see anything that fits your profile, you can submit your info here.</p>

</section>



