---
layout: default
header: blueish
---

<section class="pa4 pa5-ns pt4-ns pb6 pb7-ns flex align-center hero">

  <div class="vh-75 h-auto-ns">
    {% include h1.html title="High Output Ventures" %}
    {% include lead.html description="We are a startup studio which helps businesses grow their people and communicate better." %}
  </div>
</section>

<section class="ph4 ph5-ns bg-darky-blue white pv4 pt5-ns">
{% include h2.html title="What we're working on" %}

<!-- Loop over _data/products.yml -->
      <div class="flex flex-column flex-row-l flex-wrap">
        {% assign data = site.data.products %}
        {% for item in data %}
            <div class="pr4 pr5-l pb4 mb5 w-50-l">
                {% if item.icon %}
                    <img class="" src="{{ item.icon }}">
                {% endif %}
                {% include h3.html title=item.title %}
                <p class="f5 f4-ns pt-serif lh-copy white measure">{{ item.description | markdownify | remove: '<p>' | remove: '</p>' }}</p>
                {% if item.cta %}
                    {% include cta-2.html label=item.cta url=item.url color="white" %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

<div class="mw9 center ph4 pt5">
  {% include col2.html data="homepage-blocks" %}
</div>

{% include linebreak.html %}

<section class="mw8 center ph4 tc">
  {% include h2.html title="High Output Weekly" %}
  <p class="f5 f4-ns pt-serif lh-copy black-80 measure center">Sign up for our newsletter and receive a bundle of articles, videos and useful tips handpicked across the web every week.</p>
  <div id="revue-embed">
    <form action="https://www.getrevue.co/profile/highoutputweekly/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank" class="flex flex-row items-end">
      <div class="revue-form-group flex flex-column measure center">
        <label for="member_email" class="f7 black-80 ttu tracked code mb2 clip">Your email</label>
        <div class="flex flex-column flex-row-ns measure center">
          <input class="f6 f5-l input-reset ba b--black fl black-80 bg-white pa3 lh-solid w5 serif" placeholder="Your email address" type="email" name="member[email]" id="member_email">
          <input type="submit" value="Sign up" name="member[subscribe]" id="member_submit" class="button-reset b--none fl pv3 ph5 tc b f4 br2 ph4 pv3 white bg-green dim black-80 pointer ml2-ns mt2 mt0-ns">
        </div>
      </div>
        
    </form>
    <small class="black-80 mt2 db f6">No spam, just useful stuff.</small>
  </div>
</section>

{% include linebreak.html %}

{% include cta-block.html %}