
    <div class="flex flex-column flex-row-l flex-wrap">
        {% assign collection = include.data %}
        {% assign data = site.data[collection] %}
        {% for item in data %}
            <div class="pr4-m pr5-l pb4 mb4 w-50-l">
                {% if item.icon %}
                    <img class="" src="{{ item.icon }}">
                {% endif %}
                {% include h3.html title=item.title %}
                <p class="f5 f4-ns pt-serif lh-copy black-80 measure">{{ item.description | markdownify | remove: '<p>' | remove: '</p>' }}</p>
                {% if item.cta %}
                    {% include cta-2.html label=item.cta url=item.url icon=item.icon %}
                {% endif %}
            </div>
        {% endfor %}
    </div>