<header class="pa4 pa5-ns flex flex-row items-center align-center justify-between {{ page.header }}">
    <a href="/">
        <img src='images/highoutput-logo.svg' alt='High Output logo' />
    </a>
    <nav>
        <a href="about-us.html" class="source-code f6 link ttu tracked black-80 ml4 db di-ns lh-copy pv1 dim">About us</a>
        <a href="product-studio.html" class="source-code f6 link ttu tracked black-80 ml4 db di-ns lh-copy pv1 dim">Product Studio</a>
        <a href="https://high-output-ventures.breezy.hr" class="source-code f6 link ttu tracked black-80 ml4 db di-ns lh-copy pv1 dim">Careers</a>
    </nav>
</header>
