<header class="ma4 ma5-ns flex flex-row items-center align-center justify-between">
    <a href="/">
        <img src='https:icon.now.sh/insert_chart/48' alt='chart icon' />
    </a>
    <nav>
        <a href="about-us.html" class="source-code f6 link ttu tracked black-80 ml4">About us</a>
        <a href="product-studio.html" class="source-code f6 link ttu tracked black-80 ml4">Product Studio</a>
        <a href="careers.html" class="source-code f6 link ttu tracked black-80 ml4">Careers</a>
    </nav>
</header>
