<section class="flex justify-center items-center flex-column flex-row-l mw8 center">
    
    <div class="flex-end">
        <blockquote class="mr0">
            <p class="pt-serif f4 f3-l i lh-copy measure black-80">{{ include.quote }}</p>
        </blockquote>
        <div>
            <p class="source-code ttu tracked f6 lh-copy ml2 relative black-70">{{ include.source }}</p>
        </div>
    </div>
    <div class="pl4-l">
        <img src="images/andrew-grove.svg" alt="Andrew Grove">
    </div>
</section>